PORT=5050
# Atlas example:
# MONGO_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/blumen?retryWrites=true&w=majority
# Local example:
# MONGO_URI=mongodb://127.0.0.1:27017/blumen
MONGO_URI=YOUR_MONGO_URI_HERE
JWT_SECRET=change_me_to_any_long_random_string
